@import '../../colors.scss';

.header {
    color: aliceblue;
    font-size: 5vh;
    vertical-align: middle;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $purple;
    padding: 5vh;
}