@import '../../colors.scss';

.header {
    color: aliceblue;
    font-size: 10vh;
    vertical-align: middle;
    text-align: center;
    font-family: 'Bigelow Rules', cursive;
    background: linear-gradient($purple,$darkPurple);
    padding: 5vh;
}