@import './colors.scss';

body {
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
  background: linear-gradient($purple, $secondary);
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: hidden;

  //   display: grid;
  //   grid-template-columns: 1fr 3fr;
    
}